.new {
  width: 100%;
  display: flex;
  .sidebar {
    flex: 1;
  }
  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: -1px 7px 22px -8px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 7px 22px -8px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 7px 22px -8px rgba(0, 0, 0, 0.75);
      margin: 20px;
      padding: 10px;
      display: flex;

      h1 {
        color: #555;
      }

      .left {
        flex: 1;

        img {
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
          text-align: center;
        }
      }

      .right {
        flex: 2;
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
  

  .formInput {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;

    .icon {
      cursor: pointer;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid;
    }

   
    label {
      text-align: left;
    }


   
}
  


.btn {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    margin: 10px;
  }



}

}
